.footer {
	background-color: rgba(144, 55, 74, 0.41);
	height: 100%;
	margin-top: 20px;
	text-align: center;
	padding: 30px;
}

/* ======PROFILE LINKS ICONS===== */

.github img {
	height: 20px;
	float: right;
}

.facebook img {
	height: 25px;
	float: left;
}

/* =====FOOTER TEXT STYLE==== */

.me {
	font-size: 15px;
	padding: 3px;
	background-color: #E84545; 
	font-weight: bold;
	letter-spacing: 1px;
	color: black;
}

.me a{
	color: white;
}

.me a:hover{
	color: rgba(255, 255, 255, 0.76);
	transition: 0.1s;
}

